:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #cdcccc;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
}


p {
  margin: 0;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #212529;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

/* Visible */
.sidebar-show {
  transform: translateX(0);
}

/* Hidden (slide left) */
.sidebar-hide {
  transform: translateX(-100%);
}

.main-content-container {
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
}

.main-content-container.full {
  margin-left: 0;
}

nav.mynavbar.navbar.navbar-expand-lg.navbar-dark.bg-dark.p-3.shadow-sm {
  position: sticky;
  z-index: 1000000;
  width: 100%;
  top: 0;
}